name: build-script

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5.0.1
    - uses: actions/setup-node@v4.4.0
      with:
         node-version: '18.20.8'
         cache: 'yarn'
    - name: use yarn
      run: |
       yarn install
       yarn css
       yarn build