name: cloudflare-pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '24' ]
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v4.3.1
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'
      - run: yarn install
      - run: yarn css
      - run: yarn build
      - name: Deploy
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages deploy dist --branch production --project-name=hashtag --commit-dirty=true
